.containers/
.vs/
database-data
Hls_video/
obj/
rtmp/obj/
docker-compose.dcproj
key.env
FrontAng/

RecommendModel/__pycache__/

BackendNet/bin/
BackendNet/obj/
BackendNet/appsettings.Docker.json
BackendNet/appsettings.Development.json
BackendNet/appsettings.json
LiveStreamPlatform.sln